<div class="min-h-screen flex items-center justify-center p-4">
  <div
    class="bg-white rounded-2xl shadow-lg p-6 w-full max-w-md flex flex-col gap-4"
  >
    <h2 class="text-2xl font-semibold text-gray-800">
      {{ isCalculated() ? "Mejor Conjunto" : "Provisiones Agregadas" }}
    </h2>

    <div class="overflow-y-auto max-h-[30rem] pr-2">
      @for(item of itemList(); track item; let last = $last){
      <app-item-card
        [itemProperties]="item"
        [isLast]="last"
        [isBestCombination]="!isCalculated()"
      ></app-item-card>
      }
    </div>

    @if(!isCalculated()){
    <span class="text-red-600 text-[0.63rem]"
      >recuerda que el mínimo de calorías debe ser 15 y el máximo de peso
      permitido son 10*</span
    >
    <div class="w-full">
      <button
        id="calculate-items"
        class="w-full bg-green-500 text-white font-medium py-2 rounded-lg hover:bg-green-600 transition"
        (click)="calculateItems()"
      >
        Calcular Mejor Conjunto
      </button>
    </div>
    }
  </div>
</div>
